body {
  padding-top: 75px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05),
              0 4px 8px 0 rgba(0, 0, 0, 0.05)
}

#homeQuote {
  background: url('./assets/bg-quote.jpg') center center;
  background-size: cover;
}

.lista-planos li {
  padding: 16px;
}

.lista-planos li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.link-decoration {
  text-decoration: none !important;
}


@media (max-width: 767px) {
  #homeQuote .display-4 {
    font-size: 2.5rem;
  }
  body {
    padding-top: 0;
  }
  .fixed-top {
    position: relative;
  }
}